html                    { overflow-y:scroll; }
        #lista-contatos         { margin-bottom:30px; }
        form button             { margin-top: 25px; }
        form .form-group{ padding: 0; }
        .jumbotron { background-color: #F7F7F7;; }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
            background: #F7F7F7;
        }
        
        .navbar{
            display: flex;
            border: 0px;
            border-width: 0px;
            border-radius: 0px;
            position: fixed;
            
        }
        
        .container-button {
            background-color: #2A3F54;
            position: fixed;
            height: 100vh;
            display: flex;
            flex-direction: column;
            border-radius: 0px;
            font-size: 22px;
            line-height: 45px;
        }
        .nav_title{
            font-weight: 400;
            font-size: 22px;
            width: 100%;
            line-height: 59px;
            display: block;
            height: 200px;
            /*espaçamento*/
            position: relative;
            margin: 0;
            padding-left: 10px;
        }
        a:hover, a{
            text-decoration: none;
            color:#ECF0F1
        
        }

        .side-menu .fa{
            float: left;
            width: 26px;
            opacity: .99;
            display: inline-block;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
        }
        .side-menu span.fa{
            float: right;
            text-align: center;
            margin-top: 5px;
            font-size: 10px;
            min-width: inherit;
            color: #C4CFDA
        }
        


       .nav>li>a 
       {
            padding: 13px 15px 12px;
        }
        

        .navbar-btn {
            
            margin-top: 0px;
            margin-bottom: 0px;
        }
        
       
        .container {
            position: absolute;
            left: 220px;
            top:57px;
            width: (100%-200px);
        }
        
      

        .btncustom{
            text-align: left;
            color:#ECF0F1;
            background-color: #2A3F54;
            padding: 10px 16px;
            font-size: 15px;
            line-height: 1.3333333;
            width: 200px;
            margin-left: auto;
            margin-right: auto;
            border-width: 0px;
            border-radius: 0px;
        }

        .btncustom:hover{
            background-color: #ECF0F1
        }
        
        .navbar-top{
            position: absolute;
            left: 200px;
            width: 100%;
            height: 57px;
            background-color: #EDEDED;
        }